<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Extracting-KSS-from-Drive" data-toc-modified-id="Extracting-KSS-from-Drive-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Extracting KSS from Drive</a></span></li><li><span><a href="#If-extracting-locally" data-toc-modified-id="If-extracting-locally-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>If extracting locally</a></span></li><li><span><a href="#Downloading-HRVfrom-Drive" data-toc-modified-id="Downloading-HRVfrom-Drive-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Downloading HRVfrom Drive</a></span></li><li><span><a href="#Combining-Sample-HRV-&amp;-KSS" data-toc-modified-id="Combining-Sample-HRV-&amp;-KSS-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Combining Sample HRV &amp; KSS</a></span></li></ul></div>

# Extracting KSS from Drive

In [84]:
from DDDS.drive import Drive
import pandas as pd
drive = Drive()

Connected successfully!

In [85]:
folders = drive.list('folder')
kss_folder = [folder['id'] for folder in folders if folder['name'] == 'KSS'][0]
kss_files = drive.list('csv', add_query=f"'{kss_folder}' in parents")
kss_files

[{'id': '1Zg6pUamNDmVD-e1DaZWJTirqqGrD3TPf',
  'name': 'kss_2021-11-24 15-36-04 e99.csv'},
 {'id': '1aEzG0t1vFUVBBSNB1oHmDv-WcDIJWwTq',
  'name': 'kss_2021-10-25 10-31-58 c27.csv'},
 {'id': '1YrK7iQWaYn8CcLQ3a_zSsPw3w2WPoyq3',
  'name': 'kss_2021-11-30 16-16-03 ece.csv'},
 {'id': '15BBZCsmorqdFqOuawOEu3Lw6S76pGhfn',
  'name': 'kss_2021-11-19 13-38-33 ece.csv'},
 {'id': '1L7PlZ7QsclQV9mwaA5R8Cw5RPmgVhnOr',
  'name': 'kss_2021-11-26 15-16-28 ea9.csv'},
 {'id': '1U5LhUajEjeWXt0wTDwojDkTXwFrQfGrb',
  'name': 'kss_2021-11-29 13-48-17 eca.csv'},
 {'id': '1CvTl_9POgJ6KaTwk7SFpDnxJ-Yjg-bdP',
  'name': 'kss_2021-11-02 15-23-39 1c3.csv'},
 {'id': '1kGTySEyRtVg89tnyeOTnf3L6oWSDJTP1',
  'name': 'kss_2021-11-04 11-01-00 eca.csv'},
 {'id': '1EzOp-y63AOzWZdvwYw8-R8TSjStq4KOJ',
  'name': 'kss_2021-11-22 11-26-24 ea9.csv'},
 {'id': '1QdQOWG9tB1NHcEJmeEG1tjo1B6MLFd-6',
  'name': 'kss_2021-11-26 12-34-32 1c3.csv'},
 {'id': '1x2WqV1UlXg4rN14_13c3kwOp8Mel-qGO',
  'name': 'kss_2021-11-17 10-58-38 e99.csv'},
 {'id': '1ojTKTXtxzmjmRjpptszUSulyi2GHaOJc',
  'name': 'kss_2021-10-26 13-32-50 c27.csv'},
 {'id': '1-kMQgFcR8BQnW4NiX9Q1hndasvFXND53',
  'name': 'kss_2021-12-01 13-20-00 e99.csv'},
 {'id': '17KBUPmCGAs5p8vV6NkR84aF80sAq5XKP',
  'name': 'kss_2021-11-24 11-01-03 eca.csv'},
 {'id': '1JPkn39iiLSyMTpiPM6C23kVivDdCb-QY',
  'name': 'kss_2021-11-18 13-21-41 e99.csv'},
 {'id': '1II2UzJ4AqAE3lemFFzttJ1s5ob1S0e55',
  'name': 'kss_2021-12-07 14-35-11 ea9.csv'},
 {'id': '1z7q6vGedTRcEiuvNSCHDOVnSgtM0_WOE',
  'name': 'kss_2021-10-28 15-04-13 1c3.csv'},
 {'id': '1TqYr6Pw0rZnqA_Ou50ogzFRNrfnFSCfl',
  'name': 'kss_2021-11-05 13-59-29 ea9.csv'}]

In [86]:
kss_dfs_drive = {}

for file in kss_files:
    df = pd.read_csv(drive.download(file['id']))
    df.drop('Unnamed: 0', inplace=True, axis=1)

    kss_dfs_drive[file['name']] = df

kss_dfs_drive

Progress: |██████████████████████████████████████████████████| 100.0% Complete
Progress: |██████████████████████████████████████████████████| 100.0% Complete
Progress: |██████████████████████████████████████████████████| 100.0% Complete
Progress: |██████████████████████████████████████████████████| 100.0% Complete
Progress: |██████████████████████████████████████████████████| 100.0% Complete
Progress: |██████████████████████████████████████████████████| 100.0% Complete
Progress: |██████████████████████████████████████████████████| 100.0% Complete
Progress: |██████████████████████████████████████████████████| 100.0% Complete
Progress: |██████████████████████████████████████████████████| 100.0% Complete
Progress: |██████████████████████████████████████████████████| 100.0% Complete
Progress: |██████████████████████████████████████████████████| 100.0% Complete
Progress: |██████████████████████████████████████████████████| 100.0% Complete
Progress: |██████████████████████████████████████████████████| 100.0% Complete
Progress: |██████████████████████████████████████████████████| 100.0% Complete
Progress: |██████████████████████████████████████████████████| 100.0% Complete
Progress: |██████████████████████████████████████████████████| 100.0% Complete
Progress: |██████████████████████████████████████████████████| 100.0% Complete
Progress: |██████████████████████████████████████████████████| 100.0% Complete

{'kss_2021-11-24 15-36-04 e99.csv':       time_points  kss_value
 0               0        0.0
 1               1        0.0
 2               2        0.0
 3               3        0.0
 4               4        0.0
 ...           ...        ...
 4037         4037        5.0
 4038         4038        5.0
 4039         4039        5.0
 4040         4040        5.0
 4041         4041        5.0

 [4042 rows x 2 columns],
 'kss_2021-10-25 10-31-58 c27.csv':       time_points  kss_value
 0               0        0.0
 1               1        0.0
 2               2        0.0
 3               3        0.0
 4               4        0.0
 ...           ...        ...
 2598         2598        2.0
 2599         2599        2.0
 2600         2600        2.0
 2601         2601        2.0
 2602         2602        2.0

 [2603 rows x 2 columns],
 'kss_2021-11-30 16-16-03 ece.csv':       time_points  kss_value
 0               0        0.0
 1               1        0.0
 2               2        0.0
 3               3        0.0
 4               4        0.0
 ...           ...        ...
 3956         3956        6.0
 3957         3957        6.0
 3958         3958        6.0
 3959         3959        6.0
 3960         3960        6.0

 [3961 rows x 2 columns],
 'kss_2021-11-19 13-38-33 ece.csv':       time_points  kss_value
 0               0        0.0
 1               1        0.0
 2               2        0.0
 3               3        0.0
 4               4        0.0
 ...           ...        ...
 4048         4048        5.0
 4049         4049        5.0
 4050         4050        5.0
 4051         4051        5.0
 4052         4052        5.0

 [4053 rows x 2 columns],
 'kss_2021-11-26 15-16-28 ea9.csv':       time_points  kss_value
 0               0        0.0
 1               1        0.0
 2               2        0.0
 3               3        0.0
 4               4        0.0
 ...           ...        ...
 4031         4031        8.0
 4032         4032        8.0
 4033         4033        8.0
 4034         4034        8.0
 4035         4035        8.0

 [4036 rows x 2 columns],
 'kss_2021-11-29 13-48-17 eca.csv':       time_points  kss_value
 0               0        0.0
 1               1        0.0
 2               2        0.0
 3               3        0.0
 4               4        0.0
 ...           ...        ...
 3968         3968        7.0
 3969         3969        7.0
 3970         3970        7.0
 3971         3971        7.0
 3972         3972        7.0

 [3973 rows x 2 columns],
 'kss_2021-11-02 15-23-39 1c3.csv':       time_points  kss_value
 0               0        0.0
 1               1        0.0
 2               2        0.0
 3               3        0.0
 4               4        0.0
 ...           ...        ...
 4053         4053        3.0
 4054         4054        3.0
 4055         4055        3.0
 4056         4056        3.0
 4057         4057        3.0

 [4058 rows x 2 columns],
 'kss_2021-11-04 11-01-00 eca.csv':       time_points  kss_value
 0               0        0.0
 1               1        0.0
 2               2        0.0
 3               3        0.0
 4               4        0.0
 ...           ...        ...
 4158         4158        6.0
 4159         4159        6.0
 4160         4160        6.0
 4161         4161        6.0
 4162         4162        6.0

 [4163 rows x 2 columns],
 'kss_2021-11-22 11-26-24 ea9.csv':       time_points  kss_value
 0               0        0.0
 1               1        0.0
 2               2        0.0
 3               3        0.0
 4               4        0.0
 ...           ...        ...
 3982         3982        8.0
 3983         3983        8.0
 3984         3984        8.0
 3985         3985        8.0
 3986         3986        8.0

 [3987 rows x 2 columns],
 'kss_2021-11-26 12-34-32 1c3.csv':       time_points  kss_value
 0               0        0.0
 1               1        0.0
 2               2        0.0
 3               3        0.0
 4               4        0.0
 ...           ...        ...
 4031         4031        5.0
 4032         4032        5.0
 4033         4033        5.0
 4034         4034        5.0
 4035         4035        5.0

 [4036 rows x 2 columns],
 'kss_2021-11-17 10-58-38 e99.csv':       time_points  kss_value
 0               0        0.0
 1               1        0.0
 2               2        0.0
 3               3        0.0
 4               4        0.0
 ...           ...        ...
 3992         3992        5.0
 3993         3993        5.0
 3994         3994        5.0
 3995         3995        5.0
 3996         3996        5.0

 [3997 rows x 2 columns],
 'kss_2021-10-26 13-32-50 c27.csv':       time_points  kss_value
 0               0        0.0
 1               1        0.0
 2               2        0.0
 3               3        0.0
 4               4        0.0
 ...           ...        ...
 4202         4202        5.0
 4203         4203        5.0
 4204         4204        5.0
 4205         4205        5.0
 4206         4206        5.0

 [4207 rows x 2 columns],
 'kss_2021-12-01 13-20-00 e99.csv':       time_points  kss_value
 0               0        0.0
 1               1        0.0
 2               2        0.0
 3               3        0.0
 4               4        0.0
 ...           ...        ...
 3984         3984        6.0
 3985         3985        6.0
 3986         3986        6.0
 3987         3987        6.0
 3988         3988        6.0

 [3989 rows x 2 columns],
 'kss_2021-11-24 11-01-03 eca.csv':       time_points  kss_value
 0               0        0.0
 1               1        0.0
 2               2        0.0
 3               3        0.0
 4               4        0.0
 ...           ...        ...
 4009         4009        3.0
 4010         4010        3.0
 4011         4011        3.0
 4012         4012        3.0
 4013         4013        3.0

 [4014 rows x 2 columns],
 'kss_2021-11-18 13-21-41 e99.csv':       time_points  kss_value
 0               0        0.0
 1               1        0.0
 2               2        0.0
 3               3        0.0
 4               4        0.0
 ...           ...        ...
 4064         4064        5.0
 4065         4065        5.0
 4066         4066        5.0
 4067         4067        5.0
 4068         4068        5.0

 [4069 rows x 2 columns],
 'kss_2021-12-07 14-35-11 ea9.csv':       time_points  kss_value
 0               0        0.0
 1               1        0.0
 2               2        0.0
 3               3        0.0
 4               4        0.0
 ...           ...        ...
 3928         3928        8.0
 3929         3929        8.0
 3930         3930        8.0
 3931         3931        8.0
 3932         3932        8.0

 [3933 rows x 2 columns],
 'kss_2021-10-28 15-04-13 1c3.csv':       time_points  kss_value
 0               0        0.0
 1               1        0.0
 2               2        0.0
 3               3        0.0
 4               4        0.0
 ...           ...        ...
 4099         4099        3.0
 4100         4100        3.0
 4101         4101        3.0
 4102         4102        3.0
 4103         4103        3.0

 [4104 rows x 2 columns],
 'kss_2021-11-05 13-59-29 ea9.csv':       time_points  kss_value
 0               0        0.0
 1               1        0.0
 2               2        0.0
 3               3        0.0
 4               4        0.0
 ...           ...        ...
 3972         3972        7.0
 3973         3973        7.0
 3974         3974        7.0
 3975         3975        7.0
 3976         3976        7.0

 [3977 rows x 2 columns]}

In [87]:
kss_dfs_drive['kss_2021-11-24 15-36-04 e99.csv']

      time_points  kss_value
0               0        0.0
1               1        0.0
2               2        0.0
3               3        0.0
4               4        0.0
...           ...        ...
4037         4037        5.0
4038         4038        5.0
4039         4039        5.0
4040         4040        5.0
4041         4041        5.0

[4042 rows x 2 columns]

# If extracting locally

In [1]:
## files and direcotries
import os
import pandas as pd
kdd_dir = 'path'
file_path = '/home/jfrasern/code/Jackfn96/auto evaluation'

files = [f[:-4] for f in os.listdir(file_path) if os.path.isfile(os.path.join(file_path, f))]
files.sort()
print(len(files))

39

In [2]:
# from os.path import dirname, abspath
# d = os.path.join(os.path.dirname(os.getcwd()), 'raw_data')

# files = [f[:-4] for f in os.listdir(file_path) if os.path.isfile(os.path.join(file_path, f))]
# files.sort()
# print(len(files))
os.listdir(file_path)

['kss_2021-10-22 12-35-46..csv',
 'kss_2021-10-28 15-04-13 g..csv',
 'kss_2021-11-24 11-01-03 eca..csv',
 'annotation_kss_2021-11-17 10-58-38 e99.xlsx',
 '2021-11-26 15-16-28 ea9 (1).xlsx',
 'kss_2021-12-07 14-35-11 ea9 (1)..csv',
 'kss_2021-11-22 11-26-24 ea9..csv',
 '2021-10-25 10-31-58 c27.xlsx',
 '2021-11-29 13-48-17 eca.xlsx',
 'kss_2021-11-02 15-23-39 g..csv',
 'kss_2022-01-05 15-25-18..csv',
 'kss_2021-11-26 12-34-32 1c3..csv',
 '2021-11-05 13-59-29 ea9.xlsx',
 'annotation_kss_2021-11-24 15-36-04 e99.xlsx',
 'kss_2021-10-26 13-32-50..csv',
 '2022-01-07 14-02-27.xlsx',
 'kss_2021-11-29 13-48-17 eca..csv',
 'kss_2021-11-05 13-59-29 ea9..csv',
 'kss_2021-11-30 16-16-03..csv',
 '2021-11-30 16-16-03.xlsx',
 '2021-11-22 11-26-24 ea9.xlsx',
 '2021-11-04 11-01-00.xlsx',
 '2021-11-02 15-23-39 g.xlsx',
 '2021-10-28 15-04-13 g.xlsx',
 'kss_2021-11-04 11-01-00..csv',
 '2021-10-22 12-35-46.xlsx',
 '2021-11-26 12-34-32 1c3.xlsx',
 '2021-10-26 13-32-50.xlsx',
 'kss_2021-11-26 15-16-28 ea9 (1)..csv',
 '2021-11-19 13-38-33.xlsx',
 'kss_2021-11-19 13-38-33..csv',
 'annotation_kss_2021-12-01 13-20-00 e99.xlsx',
 'annotation_kss (1) PIERRE BOIVIN.xlsx',
 'annotation_kss_2021-11-18 13-21-41 e99.xlsx',
 '2021-12-07 14-35-11 ea9 (1).xlsx',
 '2022-01-05 15-25-18.xlsx',
 '2021-11-24 11-01-03 eca.xlsx',
 'kss_2021-10-25 10-31-58 c27..csv',
 'kss_2022-01-07 14-02-27..csv']

In [3]:
from os.path import dirname, abspath
d = os.path.join(os.path.dirname(os.getcwd()))
parent = os.path.abspath(os.path.join(d, '../'))
root_dir = os.path.join(parent, 'auto evaluation/')
root_dir

'/home/jfrasern/code/Jackfn96/auto evaluation/'

In [4]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /home/jfrasern/.pyenv/versions/3.8.12/envs/3DS/lib/python3.8/site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /home/jfrasern/.pyenv/versions/3.8.12/envs/3DS/lib/python3.8/site-packages (from openpyxl) (1.1.0)
WARNING: You are using pip version 21.1.1; however, version 22.0.3 is available.
You should consider upgrading via the '/home/jfrasern/.pyenv/versions/3.8.12/envs/3DS/bin/python -m pip install --upgrade pip' command.

In [5]:
df = pd.read_excel(f'{root_dir}{files[0]}xlsx') # temporary df to load kss file
df = df.drop(columns = ['Unnamed: 0'], inplace=True, axis=1)

df

In [6]:
df

In [7]:
for file_name in files:
    print(file_name)

2021-10-22 12-35-46.
2021-10-25 10-31-58 c27.
2021-10-26 13-32-50.
2021-10-28 15-04-13 g.
2021-11-02 15-23-39 g.
2021-11-04 11-01-00.
2021-11-05 13-59-29 ea9.
2021-11-19 13-38-33.
2021-11-22 11-26-24 ea9.
2021-11-24 11-01-03 eca.
2021-11-26 12-34-32 1c3.
2021-11-26 15-16-28 ea9 (1).
2021-11-29 13-48-17 eca.
2021-11-30 16-16-03.
2021-12-07 14-35-11 ea9 (1).
2022-01-05 15-25-18.
2022-01-07 14-02-27.
annotation_kss (1) PIERRE BOIVIN.
annotation_kss_2021-11-17 10-58-38 e99.
annotation_kss_2021-11-18 13-21-41 e99.
annotation_kss_2021-11-24 15-36-04 e99.
annotation_kss_2021-12-01 13-20-00 e99.
kss_2021-10-22 12-35-46.
kss_2021-10-25 10-31-58 c27.
kss_2021-10-26 13-32-50.
kss_2021-10-28 15-04-13 g.
kss_2021-11-02 15-23-39 g.
kss_2021-11-04 11-01-00.
kss_2021-11-05 13-59-29 ea9.
kss_2021-11-19 13-38-33.
kss_2021-11-22 11-26-24 ea9.
kss_2021-11-24 11-01-03 eca.
kss_2021-11-26 12-34-32 1c3.
kss_2021-11-26 15-16-28 ea9 (1).
kss_2021-11-29 13-48-17 eca.
kss_2021-11-30 16-16-03.
kss_2021-12-07 14-35-11 ea9 (1).
kss_2022-01-05 15-25-18.
kss_2022-01-07 14-02-27.

In [8]:
len(files)

39

In [9]:
## parameters
kssdfs = {}
df_num = 0

import numpy as np
fps = 1/2 # 
for file_name in files:
#     video_annot_df = pd.read_csv(f'{root_dir}{file_name}.mp4.csv', sep=';')
#     video_annot_df.drop('Unnamed: 0', inplace=True, axis=1)
#     video_annot_df['exp_id'] = file_name
#     video_annot_df = timestamp_formatting(video_annot_df, 'timestamp_lena')
#     video_annot_df['event_onset'] = video_annot_df['Instant']/1000
#     video_annot_df['event_end'] = video_annot_df['event_onset'] + video_annot_df['duree']
#     print('the shape of video annotation dataframe is', video_annot_df.shape)
    ## kss dataframe
    df = pd.read_excel(f'{root_dir}{file_name}xlsx') # temporary df to load kss file
    df.drop(columns = ['Unnamed: 0'], inplace=True, axis=1)
    video_dur = df.iloc[4, :].values
    print(f'{file_name} : {video_dur}')
    column_names = df.iloc[6, :].values
    kss_raw_df = pd.DataFrame(df.iloc[7:, :].values, columns = column_names)
    kss_raw_df.drop('Buffer', inplace = True, axis=1)
    print('the shape of kss data frame is', kss_raw_df.shape)
    print(df_num)
    ## correction of kss_raw_df
    frame_numbers = int(video_dur[1])*60 + int(video_dur[2])
    onset= int(kss_raw_df.iloc[0,0].split('-')[0].split(':')[1])
    ## alternatively if you don't have the interval columns, you can use 
    # hand_sign = df.iloc[3, :].values
    # onset =  int(hand_sign[1])*60 + int(hand_sign[2])
    
    ## kss_interval is probably constant for all experiments ~ 300s
    kss_interval = int(kss_raw_df.iloc[0,0].split('-')[1].split(':')[0])*60
    
    
    video_timing_df = pd.DataFrame.from_records([{'duration': frame_numbers, 
                                                  'kss_onset':onset,
                                                  'kss_interval': kss_interval,
                                                  'fps': fps}])
    ## from here on you should repeat the kss accoring to the sampling rate of HRV recording,
    ## I had 2frames per seconds 
    recording_time = np.arange(0, frame_numbers, fps).tolist() 
    
    ## populating a dataframe according to the fps with corresponding kss values
    kss_impute = np.zeros(len(recording_time))
    interval = int(kss_interval / fps)
    for i in range(kss_raw_df.shape[0]):
        kss_impute[i*interval+onset: (i+1)*interval+onset] = kss_raw_df.iloc[i, 1]
    # x = downsample_to_proportion(kss_impute, .03333)
#     plt.plot(kss_impute)
    
    ## merging the kss annotation with frames 
    kss_annotations = {'time_points': recording_time, 'kss_value': kss_impute }
    kss_annotations_df = pd.DataFrame.from_dict(kss_annotations)

    kssdfs[file_name.split(' ')[0]] = kss_annotations_df
    df_num+=1
    ## saving
#     kss_annotations_df.to_csv(f'{root_dir}kss_{file_name}.csv')

2021-10-22 12-35-46. : ['Video duration' 62 5]
the shape of kss data frame is (13, 2)
0
2021-10-25 10-31-58 c27. : ['Video duration' 43 23]
the shape of kss data frame is (9, 2)
1
2021-10-26 13-32-50. : ['Video duration' 70 7]
the shape of kss data frame is (14, 2)
2
2021-10-28 15-04-13 g. : ['Video duration' 68 24]
the shape of kss data frame is (14, 2)
3
2021-11-02 15-23-39 g. : ['Video duration' 67 38]
the shape of kss data frame is (14, 2)
4
2021-11-04 11-01-00. : ['Video duration' 69 23]
the shape of kss data frame is (14, 2)
5
2021-11-05 13-59-29 ea9. : ['Video duration' 66 17]
the shape of kss data frame is (14, 2)
6
2021-11-19 13-38-33. : ['Video duration' 67 33]
the shape of kss data frame is (14, 2)
7
2021-11-22 11-26-24 ea9. : ['Video duration' 66 27]
the shape of kss data frame is (14, 2)
8
2021-11-24 11-01-03 eca. : ['Video duration' 66 54]
the shape of kss data frame is (14, 2)
9
2021-11-26 12-34-32 1c3. : ['Video duration' 67 16]
the shape of kss data frame is (14, 2)
10
2021-11-26 15-16-28 ea9 (1). : ['Video duration' 67 16]
the shape of kss data frame is (14, 2)
11
2021-11-29 13-48-17 eca. : ['Video duration' 66 13]
the shape of kss data frame is (14, 2)
12
2021-11-30 16-16-03. : ['Video duration' 66 1]
the shape of kss data frame is (14, 2)
13
2021-12-07 14-35-11 ea9 (1). : ['Video duration' 65 33]
the shape of kss data frame is (14, 2)
14
2022-01-05 15-25-18. : ['Video duration' 67 38]
the shape of kss data frame is (14, 2)
15
2022-01-07 14-02-27. : ['Video duration' 66 28]
the shape of kss data frame is (14, 2)
16
annotation_kss (1) PIERRE BOIVIN. : ['Video duration' 62 nan]
the shape of kss data frame is (13, 2)
17

ValueError: cannot convert float NaN to integer

In [10]:
ans = (66 * 60 + 28) * 2
ans

7976

In [11]:
kssdfs['2021-10-22']

      time_points  kss_value
0             0.0        0.0
1             0.5        0.0
2             1.0        0.0
3             1.5        0.0
4             2.0        0.0
...           ...        ...
7445       3722.5        3.0
7446       3723.0        3.0
7447       3723.5        3.0
7448       3724.0        3.0
7449       3724.5        3.0

[7450 rows x 2 columns]

# Downloading HRVfrom Drive

In [88]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [89]:
from DDDS.drive import Drive

drive = Drive()

Connected successfully!

In [90]:
from DDDS.hrv import HRV
hrv = HRV()

Connected successfully!

Progress: |██████████████████████████████████████████████████| 100.0% Complete

In [42]:
for df in dataframes:
    print(df)

22_11_2021_15_38 eb0
07_01_2022_13_56
05_01_2022_15_18
05_01_2022_15_14
05_01_2022_15_12
05_01_2022_15_07
05_01_2022_15_01
15_12_2021_11_23
15_12_2021_11_20
07_12_2021_14_35 ea9
07_12_2021_14_20
07_12_2021_14_13
01_12_2021_13_17 e99
01_12_2021_13_13
30_11_2021_16_12 ece
30_11_2021_12_32 eb0
26_11_2021_15_09 ea9
29_11_2021_13_47 eca
26_11_2021_12_31 1c3
26_11_2021_10_50 ed2
25_11_2021_13_42 ed2
25_11_2021_10_42 038
26_11_2021_10_44
25_11_2021_13_40
24_11_2021_15_34 e99
24_11_2021_13_40 038
25_11_2021_10_33
24_11_2021_15_18
24_11_2021_13_30
24_11_2021_10_52 eca
22_11_2021_11_22 ea9
19_11_2021_13_11 ece
19_11_2021_12_09
19_11_2021_12_04
19_11_2021_12_00
18_11_2021_13_19 e99
18_11_2021_12_53
17_11_2021_10_57 e99
17_11_2021_10_50
17_11_2021_10_47
05_11_2021_13_34 ea9
02_11_2021_15_17 1c3
02_11_2021_13_55 eb0
04_11_2021_10_57 eca
04_11_2021_13_43 ed2
05_11_2021_10_44 ed2
29_10_2021_13_32 982
04_11_2021_10_52
02_11_2021_11_36
28_10_2021_10_47 982
28_10_2021_14_57 1c3
26_10_2021_13_29 c27
27_10_2021_13_44 87e
29_10_2021_11_29 87e
27_10_2021_15_04 844
28_10_2021_09_22 844
29_10_2021_13_24
27_10_2021_10_52
26_10_2021_10_52 c04
25_10_2021_14_52 c04
25_10_2021_10_26 c27
25_10_2021_14_48
22_10_2021_12_34
22_10_2021_11_26
20_10_2021_18_00
20_10_2021_17_48
22_11_2021_15_38_garmin eb0
15_12_2021_11_23_garmin
07_12_2021_14_35_garmin ea9
01_12_2021_13_17_garmin e99
30_11_2021_16_12_garmin ece
30_11_2021_12_32_garmin eb0
29_11_2021_13_47_garmin eca
26_11_2021_12_31_garmin 1c3
26_11_2021_15_09_garmin ea9
26_11_2021_10_50_garmin ed2
24_11_2021_10_52_garmin eca
24_11_2021_10_52_garmin eca2
24_11_2021_13_40_garmin 038
24_11_2021_15_34_garmin e99
22_11_2021_11_22_garmin ea9
19_11_2021_13_11_garmin ece
18_11_2021_13_19_garmin e99
17_11_2021_10_57_garmin e99
29_10_2021_13_32_garmin 982
05_11_2021_10_44_garmin ed2
05_11_2021_13_34_garmin ea9

# Combining Sample HRV & KSS

In [91]:
hrv_test = dataframes['24_11_2021_15_34 e99']
hrv_test

,Timestamp_Google,Timestamp_Device,Device_id,Heart_Rate,RR_rate,Garmin
0,2021-11-24 14:35:10,2021-11-24 14:35:09.741,CD:87:AB:E8:05:12,61,[1068],1
1,2021-11-24 14:35:10,2021-11-24 14:35:09.756,FD:9E:84:03:87:71,65,[],1
2,2021-11-24 14:35:10,2021-11-24 14:35:10.232,FD:9E:84:03:87:71,66,[1007],1
3,2021-11-24 14:35:10,2021-11-24 14:35:10.435,CA:93:07:67:1E:FF,62,[1062],1
4,2021-11-24 14:35:11,2021-11-24 14:35:10.700,CD:87:AB:E8:05:12,61,[693],1
...,...,...,...,...,...,...
13012,2021-11-24 15:43:30,2021-11-24 15:43:29.963,FD:9E:84:03:87:71,87,[],1
13013,2021-11-24 15:43:30,2021-11-24 15:43:30.057,CD:87:AB:E8:05:12,63,[562],1
13014,2021-11-24 15:43:30,2021-11-24 15:43:30.463,FD:9E:84:03:87:71,87,[],1
13015,2021-11-24 15:43:31,2021-11-24 15:43:30.965,FD:9E:84:03:87:71,87,[],1
13016,2021-11-24 15:43:31,2021-11-24 15:43:31.043,CD:87:AB:E8:05:12,63,"[896, 702]",1

In [77]:
import datetime as dt

hrv_test['Timestamp_Google'] = hrv_test['Timestamp_Google'].dt.round('1s')

In [152]:
hrv_test['time_points'] = hrv_test['Timestamp_Google'] - hrv_test['Timestamp_Google'].iloc[0]

hrv_test['time_points']= hrv_test['time_points']/np.timedelta64(1,'s')

hrv_test['time_points'] = hrv_test["time_points"].round().astype(int) 

hrv_test.drop('Timestamp_Device',inplace=True, axis=1)
hrv_test.drop('Device_id',inplace=True, axis=1)

In [165]:
hrv_test

         Timestamp_Google  Heart_Rate     RR_rate  Garmin  time_points
0     2021-11-24 14:35:10          61      [1068]       1            0
1     2021-11-24 14:35:10          65          []       1            0
2     2021-11-24 14:35:10          66      [1007]       1            0
3     2021-11-24 14:35:10          62      [1062]       1            0
4     2021-11-24 14:35:11          61       [693]       1            1
...                   ...         ...         ...     ...          ...
13012 2021-11-24 15:43:30          87          []       1         4100
13013 2021-11-24 15:43:30          63       [562]       1         4100
13014 2021-11-24 15:43:30          87          []       1         4100
13015 2021-11-24 15:43:31          87          []       1         4101
13016 2021-11-24 15:43:31          63  [896, 702]       1         4101

[13017 rows x 5 columns]

In [160]:
kss_test = kss_dfs_drive['kss_2021-11-24 15-36-04 e99.csv']
kss_start = kss_test[kss_test['kss_value'] != 0].time_points.iloc[0]
kss_start

35

In [167]:
hrv_adjusted = hrv_test[hrv_test['time_points'] >=  kss_start]

hrv_adjusted['time_points'] = hrv_adjusted['Timestamp_Google'] - hrv_adjusted['Timestamp_Google'].iloc[0]

hrv_adjusted['time_points']= hrv_adjusted['time_points']/np.timedelta64(1,'s')

hrv_adjusted['time_points'] = hrv_adjusted["time_points"].round().astype(int) 
hrv_adjusted

/tmp/ipykernel_24512/1153470209.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hrv_adjusted['time_points'] = hrv_adjusted['Timestamp_Google'] - hrv_adjusted['Timestamp_Google'].iloc[0]
/tmp/ipykernel_24512/1153470209.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hrv_adjusted['time_points']= hrv_adjusted['time_points']/np.timedelta64(1,'s')
/tmp/ipykernel_24512/1153470209.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hrv_adjusted['time_points'] = hrv_adjusted["time_points"].round().astype(int)

         Timestamp_Google  Heart_Rate     RR_rate  Garmin  time_points
141   2021-11-24 14:35:45          64          []       1            0
142   2021-11-24 14:35:45          59  [744, 592]       1            0
143   2021-11-24 14:35:45          62      [1056]       1            0
144   2021-11-24 14:35:45          60      [1013]       1            0
145   2021-11-24 14:35:46          62          []       1            1
...                   ...         ...         ...     ...          ...
13012 2021-11-24 15:43:30          87          []       1         4065
13013 2021-11-24 15:43:30          63       [562]       1         4065
13014 2021-11-24 15:43:30          87          []       1         4065
13015 2021-11-24 15:43:31          87          []       1         4066
13016 2021-11-24 15:43:31          63  [896, 702]       1         4066

[12876 rows x 5 columns]

In [156]:
kss_hrv = hrv_test.merge(kss_test, on='time_points', how='left')
kss_hrv

,Timestamp_Google,Heart_Rate,RR_rate,Garmin,time_points,kss_value
0,2021-11-24 14:35:10,61,[1068],1,0,0.0
1,2021-11-24 14:35:10,65,[],1,0,0.0
2,2021-11-24 14:35:10,66,[1007],1,0,0.0
3,2021-11-24 14:35:10,62,[1062],1,0,0.0
4,2021-11-24 14:35:11,61,[693],1,1,0.0
...,...,...,...,...,...,...
13012,2021-11-24 15:43:30,87,[],1,4100,NaN
13013,2021-11-24 15:43:30,63,[562],1,4100,NaN
13014,2021-11-24 15:43:30,87,[],1,4100,NaN
13015,2021-11-24 15:43:31,87,[],1,4101,NaN
13016,2021-11-24 15:43:31,63,"[896, 702]",1,4101,NaN

In [ ]:
# Option 1: Cut off HRV df from the start so it has same no. of time points as kss (issues with alignment of events?)
# Option 2: Take second where kss readings start and cut HRV df from there (e.g above)