In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from DDDS.combined_df import CombinedDFs
import numpy as np
import pandas as pd

In [ ]:
dfs = CombinedDFs()

-- Loading annotations --
Connected successfully!
Searching sync files... |██████████████████████████████████████████████████| 100.0% Completed

In [4]:
df = dfs.combined_dfs[1]

In [28]:
data = dfs.hrv.get_RR_series('22_11_2021_15_38 eb0')

In [29]:
data = pd.DataFrame({'RR':data[0], 'CumSum':data[1]})

# Timestamp Google for instant=0
ts_google = df[- df['Instant'].isna()].index[0]
instant = df[- df['Instant'].isna()].iloc[0]['Instant']
ts_google_zero = ts_google - pd.Timedelta(instant, unit='ms')

# Calculating offset
ts_google_first = df[df['RR_rate'] != '[]'].index[0]
offset = ts_google_zero - ts_google_first
instant_offset = round(offset.total_seconds()*1_000)

data['CumSum'] = data['CumSum'] - instant_offset
data = data.set_index('CumSum').loc[0:]

In [30]:
data

            RR
CumSum
497        827
1323       826
2162       839
2968       806
3788       820
...        ...
12114254  1088
12115494  1240
12116115   621
12116753   638
12117355   602

[15260 rows x 1 columns]

In [9]:
data = pd.DataFrame({'RR':data[0], 'CumSum':data[1]})

Get function to calculate intant from Timestamp Google

In [11]:
# Timestamp google
ts_google = df[- df['Instant'].isna()].index[0]

In [12]:
# Corresponding instant
instant = df[- df['Instant'].isna()].iloc[0]['Instant']

In [13]:
# Timestamp google for instant 0
ts_google_zero = ts_google - pd.Timedelta(instant, unit='ms')

In [14]:
# Timestamp google of first cell including HRV data
ts_google_first = df[df['RR_rate'] != '[]'].index[0]
ts_google_first

Timestamp('2021-11-22 14:39:25.599000')

In [15]:
offset = ts_google_zero - ts_google_first

In [16]:
instant_offset = round(offset.total_seconds()*1_000)
instant_offset

85448

In [17]:
data['CumSum'] = data['CumSum'] - instant_offset

In [18]:
data.set_index('CumSum').loc[0:]

            RR
CumSum
497        827
1323       826
2162       839
2968       806
3788       820
...        ...
12114254  1088
12115494  1240
12116115   621
12116753   638
12117355   602

[15260 rows x 1 columns]